<!DOCTYPE html>
<html>
  <head>
    <title>CharmTunes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <script type="text/javascript">
        window.mp3url= "<%= image_url('test.mp3')%>"
      </script>
      <script type="text/javascript">
        window.albumart = "<%= image_url('albumart.jpg')%>"
      </script>
      <script type="text/javascript">
        window.garden="<%= image_url('garden.mp3')%>"
      </script>
      <script type="text/javascript">
        window.albumart2 = "<%= image_url('bunny.jpg')%>"
      </script>
      <script type="text/javascript">
        window.kondor="<%= image_url('kondor.mp3')%>"
      </script>
      <script type="text/javascript">
        window.albumart3 = "<%= image_url('cat.jpg')%>"
      </script>
      <script type="text/javascript">
        window.melody="<%= image_url('melody.mp3')%>"
      </script>
      <script type="text/javascript">
        window.albumart4 = "<%= image_url('bear.jpg')%>"
      </script>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": '<%= current_user.username %>',
          "email": '<%= current_user.email %>'
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
